.App1{
    position: absolute;
    top: 50%;
    left: 40%;
    width: 420px;  
    height: 480px; 
}
.header{
    position: absolute;
    top: 10%;
    left: 25%;
}
.classPas{
    width: 320px;
    height: 50px;
    position: absolute;
    top: 35%;
    left: 1%;
}
.classPas1{
    width: 320px;
    height: 50px;
    position: absolute;
    top: 53%;
    left: 1%;
}
.fpas{
    position: absolute;
    color: #4285F4;
    top: 73%;
    left: 2%;
}
Button{
    border: round($number: 3px);
    border-radius: 3px;
    height: 20px;
    color:white;
    background-color: #4285F4;
    width: 19%;
    height: 08%;
    font-family: Roboto font;
    font-size: round($number: 10);
    position: absolute;
    left: 60%;
    text-align: center;
    top: 75%;
}
