@import url(https://fonts.googleapis.com/css?family=Google+Sans);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap);
.container-body1{
    padding: 0px;
    margin: 0px;
    width: 450px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    border: 1px solid  rgba($color: #eeeeee50, $alpha: 1.0);
    border-width: 2px;
    margin-top: 11.39%;
    font-family: 'Google Sans',serif;
}
.app_name {
    width: 73px;
    position: relative;
    top: 50px;
    left: 180px;
}
.but3{
    background-color: #4971f6;
    border-radius: 8px;
    border: none;
    color: white;
    width: 81px;
    height: 37px;
    position: relative;
    top: 40px;
    left: 150px;
}
.forgetPas{
    background-color: #4971f6;
    color: white;
    border-radius: 8px;
    border: none;
    height: 38px;
    width: 110px;
    position: absolute;
    top: 150px;
    left: 40px;
}
#outlined-textarea{
    width: 333px;
    outline: none;
}
.sign{
    position: relative;
    top: 75px;
}
.abc{
    position: relative;
    top: 78px;
    font-family: 'Noto Sans JP', sans-serif;    
}
.form{
    margin-top: 20%;
}
// @media only screen and (max-width: 900px) {
// }