.container-body3{
    padding: 0px;
    margin: 0px;
    width: 450px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    border: 1px solid  rgba($color: #eeeeee50, $alpha: 1.0);
    border-width: 2px;
    margin-top: 11.39%;
    font-family: 'Google Sans',serif;
}
.but1{
    width: 250px;
    height: 46px;
    background-color: #4971f6;
    color: white;
    border-radius: 8px;
    border: none;
    position: relative;
    top: 60px;
    left: 10px;
} 
.sign1{
    position: relative;
    top: 65px;
}
.form1{
    position: relative;
    top: 110px;
}
@media only screen and (max-width: 900px) {
}
